@font-face {
    font-family: poppins-ligth;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../files/fonts/Poppins-Light.ttf);
}


@font-face {
    font-family: poppins-regular;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    
    src: url(../files/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-semibold;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../files/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: dancing-Regular;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../files/fonts/DancingScript-Regular.ttf);
}
@font-face {
    font-family: dancing-semibold;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../files/fonts/DancingScript-SemiBold.ttf);
}

